.html, body {
    margin: 0;
    padding: 0;
}

/*tipografia*/

h1{
    font-size: 50px;
    color: white;
    margin: 0;
}


span{
    color: red;
}

a{
    text-decoration: none;
    color: black;
}

/*Header*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
    
}

.logo{
    width: 200px;
    height: 70px;
    margin: 10px;
}

/*main*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.apelidos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 1000px;
    background-color: white;
}

.apelido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid black 1px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: red;
    border: solid black 3px;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover{
    background-color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
}