<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Sesi.css') }}">
    <title>Elenco Sesi</title>
</head>
<body>
    <header>
        <h1>Elenco <span>Sesi</span></h1>
        <img src="/static/imagens/Logo_SESI_vermelho.jpg" class="logo">
    </header>
    <main>
        <div class="apelidos">
            <div class="apelido">
                <h2>Victor deuForte</h2>
                <h3>(grande lutador)</h3>
                <a href="/static/imagens/victor_deuforte.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Belfegor</h2>
                <h3>(encarnação do mal)</h3>
                <a href="/static/imagens/belfegor.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Disfarçando Legal</h2>
                <h3>(olho no olho)</h3>
                <a href="/static/imagens/disfarcando_legal.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Adolf Nigger</h2>
                <h3>(nazista negro)</h3>
                <a href="/static/imagens/adolf_nigger.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Gruta dos Palhares</h2>
                <h3>(umbigo anal)</h3>
                <a href="/static/imagens/gruta_dos_palhares.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Calabolso da Repulsa</h2>
                <h3>(So de papel foi 1Kg)</h3>
                <a href="/static/imagens/calabolso_da_repulsa.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Irmã Dulce</h2>
                <h3>(Adora uma criança)</h3>
                <a href="/static/imagens/irma_dulce.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>jorro</h2>
                <h3>(30s de pura jorrada)</h3>
                <a href="/static/imagens/jorro.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Birité Alegre</h2>
                <h3>(Querendo Dar)</h3>
                <a href="/static/imagens/birite_alegre.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Os Tarado de preto</h2>
                <h3>(Tecnica milenar)</h3>
                <a href="/static/imagens/tarado_preto.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>HUMMM delicinha</h2>
                <h3>(cuziiiinho)</h3>
                <a href="/static/imagens/humm_delicinha.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Travecos da meia noite</h2>
                <h3>(Batendo ponto)</h3>
                <a href="/static/imagens/traveco_meianoite.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Cauê e emily</h2>
                <h3>(Bom dia de leve)</h3>
                <a href="/static/imagens/cm_bomdia.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Banho de cachoeira</h2>
                <h3>(entre friends)</h3>
                <a href="/static/imagens/banho_cachoeira.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Gorilão</h2>
                <h3>(play center)</h3>
                <a href="/static/imagens/gorilao.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>birité</h2>
                <h3>(atacante)</h3>
                <a href="/static/imagens/birite.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Poca sombra</h2>
                <h3>(mini conjunto de desgraça)</h3>
                <a href="/static/imagens/poca_sombra.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Senhor gindro</h2>
                <h3>(depois de negar mistura)</h3>
                <a href="/static/imagens/senhor_gindro.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>hair cut</h2>
                <h3>(soninho)</h3>
                <a href="/static/imagens/hair_cut.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Novo filiado</h2>
                <h3>(sogrão do Cauê)</h3>
                <a href="/static/imagens/novo_filiado.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Raspa xota</h2>
                <h3>(cola velcro)</h3>
                <a href="/static/imagens/raspa_xota.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Luva de pedreiro</h2>
                <h3>(iete)</h3>
                <a href="/static/imagens/luva.jpg"></a><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Brutos</h2>
                <h3>(dev full stack)</h3>
                <a href="/static/imagens/brutos.jpg"><div class="botao">Click</div></a>
            </div>
            <div class="apelido">
                <h2>Gorda de neve</h2>
                <h3>(E as 7 refeiçoes)</h3>
                <a href="/static/imagens/gorda_neve.jpg"><div class="botao">Click</div></a>
            </div>
        </div>
    </main>
    <footer>
        <h1>Made by negraiada</h1>
    </footer>
</body>
</html>